<div class="relative z-50" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75"></div>

    <div class="fixed inset-0 z-30 overflow-y-auto h-auto">
        <div class="flex items-end justify-center min-h-full p-4 text-center sm:items-center sm:p-0 w-auto mx-auto">
            <div
                class="relative py-5 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl px-7 sm:w-full sm:max-w-lg md:max-w-2xl lg:max-w-3xl xl:max-w-5xl sm:px-11 sm:py-7">
                <div>
                    <h1 class="absolute top-0 left-0 text-lg font-semibold pt-7 pl-11">
                        {{ 'createDistribution' | translate }}
                    </h1>
                    <div class="absolute top-0 right-0 pt-7 pr-11 sm:block">
                        <button type="button"
                            class="text-gray-400 bg-white rounded-md hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2"
                            (click)="close(false)">
                            <span class="sr-only">{{'appClose' | translate}}</span>
                            <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="flex flex-col mt-10">
                    <form class="w-full flex-col space-y-6" [formGroup]="distributionFormGroup">
                        <div class="flex flex-col sm:space-y-6 items-center justify-between">
                            <div class="flex w-full space-x-10 justify-center items-center">
                                <div class="flex flex-col w-full space-y-2">
                                    <label for="masterProgramId" class="block text-sm font-medium leading-6 text-gray-600">
                                        {{ 'programName' | translate }}
                                    </label>
                                    <ng-select 
                                        formControlName="masterProgramId"
                                        placeholder="{{ 'programPlaceholder' | translate }}"
                                        [items]="masterPrograms" bindLabel="programName" bindValue="id"
                                        [appendTo]="'body'" [clearable]="false" 
                                        [class]="
                                            formControls['masterProgramId'].touched && formControls['masterProgramId'].errors
                                            ? 'form-control invalid-feedback'
                                            : 'form-control'"
                                        (change)="fetchProgramComponents($event)"
                                    ></ng-select>
                                    <ng-container *ngIf="loading === 'MASTER_PROGRAM'">
                                        <span class="absolute inset-y-0 flex items-center right-18">
                                            <app-spinner size="5"></app-spinner>
                                        </span>
                                    </ng-container>
                                </div>
                                <div class="flex flex-col w-full space-y-2">
                                    <label for="programComponentId" class="block text-sm font-medium leading-6 text-gray-600">{{
                                        'programComponents' | translate }}
                                    </label>
                                    <ng-select 
                                        formControlName="programComponentId"
                                        placeholder="{{ 'programComponentPlaceholder' | translate }}"
                                        [items]="programComponents" bindLabel="programName" bindValue="id"
                                        [appendTo]="'body'" [clearable]="false" 
                                        [class]="
                                            formControls['programComponentId'].touched && formControls['programComponentId'].errors
                                            ? 'form-control invalid-feedback'
                                            : 'form-control'"
                                        (change)="fetchProgramComponentBatches($event)"
                                    ></ng-select>
                                    <ng-container>
                                        <span class="absolute inset-y-0 flex items-center right-18">
                                            <app-spinner size="5"></app-spinner>
                                        </span>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col sm:space-y-6 items-center justify-between">
                            <div class="flex w-full space-x-10 justify-center items-center">
                                <div class="flex flex-col w-full space-y-2">
                                    <label for="batchId" class="block text-sm font-medium leading-6 text-gray-600">
                                        {{ 'batch' | translate }}
                                    </label>
                                    <ng-select 
                                        formControlName="batchId"
                                        placeholder="{{ 'batchPlaceholder' | translate }}"
                                        [items]="programComponentBatches"
                                        bindValue="id"
                                        bindLabel="label"
                                        [appendTo]="'body'" [clearable]="false" 
                                        [class]="
                                            formControls['batchId'].touched && formControls['batchId'].errors
                                            ? 'form-control invalid-feedback'
                                            : 'form-control'"
                                    ></ng-select>
                                    <ng-container *ngIf="loading === 'COMPONENT_BATCHES'">
                                        <span class="absolute inset-y-0 flex items-center right-18">
                                            <app-spinner size="5"></app-spinner>
                                        </span>
                                    </ng-container>
                                </div>
                                <div class="flex flex-col w-full space-y-2">
                                    <label for="externalPartnerId" class="block text-sm font-medium leading-6 text-gray-600">
                                        {{ 'institutionName' | translate }}
                                    </label>
                                    <ng-select 
                                        formControlName="externalPartnerId"
                                        placeholder="{{ 'institutionName' | translate }}"
                                        [items]="institutions"
                                        bindValue="id"
                                        bindLabel="name"
                                        [appendTo]="'body'" [clearable]="false" 
                                        [class]="
                                            formControls['externalPartnerId'].touched && formControls['externalPartnerId'].errors
                                            ? 'form-control invalid-feedback'
                                            : 'form-control'"
                                    ></ng-select>
                                    <ng-container *ngIf="institutionsLoading">
                                        <span class="absolute inset-y-0 flex items-center right-18">
                                            <app-spinner size="5"></app-spinner>
                                        </span>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col sm:space-y-6 items-center justify-between">
                            <div class="flex w-full space-x-10 justify-center items-center">
                                <div class="flex flex-col w-full space-y-2">
                                    <label for="distributionType" class="block text-sm font-medium leading-6 text-gray-600">{{
                                        'beneficiaryHelpStatus' | translate }}
                                    </label>
                                    <ng-select 
                                        formControlName="distributionType" 
                                        placeholder="{{ 'beneficiaryHelpStatus' | translate }}"
                                        [items]="beneficiaryHelpStatus" bindLabel="name" bindValue="value"
                                        [appendTo]="'body'" [clearable]="false" 
                                        [class]="
                                            formControls['distributionType'].touched && formControls['distributionType'].errors
                                            ? 'form-control invalid-feedback'
                                            : 'form-control'
                                        "
                                    ></ng-select>
                                </div>
                                <div class="flex flex-col w-full space-y-2">
                                    <label for="numberOfBeneficiaries" class="block text-sm font-medium leading-6 text-gray-600">
                                        {{ 'numberOfBeneficiaries' | translate }}
                                    </label>
                                    <div>
                                        <input
                                            type="number"
                                            formControlName="numberOfBeneficiaries"
                                            placeholder="{{ 'numberOfBeneficiaries' | translate }}"
                                            class="block w-full rounded-md border-0 py-2.5 text-gray-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
                                            [class]="
                                                formControls['numberOfBeneficiaries'].touched && formControls['numberOfBeneficiaries'].errors
                                                ? 'form-control invalid-feedback'
                                                : 'form-control'"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex w-full justify-end">
                            <button
                                class="px-4 py-2.5 border border-gray-300 rounded-lg bg-white flex items-center justify-center font-semibold text-sm mr-10 w-28 h-10"
                                (click)="close(false)">
                                {{ 'cancelButton' | translate }}
                            </button>
                            <button (click)="handleCreateDistributionSubmit()"
                                class="px-4 w-auto py-2.5 text-white rounded-lg bg-primary flex items-center justify-center font-semibold text-sm">
                                <svg *ngIf="loading !== 'SAVING_DISTRIBUTION'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-3">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                </svg>
                                <ng-container *ngIf="loading === 'SAVING_DISTRIBUTION'">
                                    <svg
                                        aria-hidden="true"
                                        role="status"
                                        class="inline w-4 h-4 mr-3 text-white animate-spin"
                                        viewBox="0 0 100 101"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                            fill="#E5E7EB"
                                        ></path>
                                        <path
                                            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                            fill="currentColor"
                                        ></path>
                                    </svg>
                                </ng-container>
                                {{ 'saveButton' | translate }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>