<div class="fixed inset-0 z-30 overflow-y-auto h-auto">
<div class="flex items-center justify-center min-h-full p-4 text-center sm:items-center sm:p-0 sm:w-3/4 w-auto mx-auto ">
  <div
    class="my-10 relative py-5 overflow-y-scroll text-left transition-all transform bg-white rounded-lg shadow-xl px-7 sm:w-full  md:max-w-full xl:w-3/4 sm:px-11 sm:py-7"
  >
    <div>
      <h1 class="absolute top-0 left-0 text-lg font-semibold pt-7 pl-4 md:pl-11">{{ 'newHousehold' | translate }}</h1>
      <div class="absolute top-0 right-0 pt-7 pr-4 md:pr-11 sm:block"> 
        <button
          type="button"
          class="text-gray-400 bg-white rounded-md hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2"
          mat-dialog-close
        >
          <span class="sr-only">{{ 'appClose' | translate }}</span>
          <svg
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
    <div class="flex mt-20">
      <form class="w-full" [formGroup]="householdFormGroup" (ngSubmit)="createHousehold()">
        <div class="flex w-full flex-col lg:flex-row lg:space-x-6">
          <div class="flex flex-col w-full space-y-6 ">
            <div class="flex flex-col lg:flex-row justify-between lg:space-x-3 w-full">
              <div class="w-full">
                <label for="doc-type" class="block text-sm font-medium leading-6 text-gray-600">{{
                  'identificationType' | translate
                }}</label>
                <ng-select
                  placeholder="{{ 'selectDocTypePlaceholder' | translate }}"
                  formControlName="identificationType"
                  [class]="
                    (formControls['identificationType'].touched || formControls['identificationType'].dirty) &&
                    formControls['identificationType'].errors
                      ? 'form-control invalid-feedback'
                      : 'form-control'
                  "
                  [items]="docTypes"
                  bindLabel="name"
                  bindValue="value"
                  (change)="idTypeValidation($event)"
                ></ng-select>
                <app-error-message [control]="formControls['identificationType']" fieldName="ID type">
                </app-error-message>
              </div>
              <div class="w-full mt-2 ml-0 sm:mt-0" *ngIf="selectedDocType === docTypes[0].value">
                <label for="nid" class="block text-sm font-medium leading-6 text-gray-600">{{
                  'NationalIDDocType' | translate
                }}</label>
                <div class="relative mt-0">
                  <input
                    type="text"
                    required
                    appAllowNumber
                    maxlength="16"
                    minlength="16"
                    formControlName="headDocumentNumber"
                    placeholder="{{ 'enterNationalIDPlaceholder' | translate }}"
                    class="h-10 block w-full rounded-md border-0 py-1.5 text-gray-600 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
                    [class]="
                      (formControls['headDocumentNumber'].touched || formControls['headDocumentNumber'].dirty) &&
                      formControls['headDocumentNumber'].errors
                        ? 'form-control invalid-feedback'
                        : 'form-control'
                    "
                  />
                  <ng-container *ngIf="hasFetched">
                    <span class="absolute inset-y-0 flex items-center right-3">
                      <app-spinner size="5"></app-spinner>
                    </span>
                  </ng-container>
                  <app-error-message [control]="formControls['headDocumentNumber']" [fieldName]="'ID number'">
                  </app-error-message>
                </div>
              </div>
              <div class="w-full" *ngIf="selectedDocType === docTypes[1].value">
                <label for="nid" class="block text-sm font-medium leading-6 text-gray-600">{{
                  'childID' | translate
                }}</label>
                <div class="relative mt-0">
                  <input
                    type="text"
                    required
                    appAllowNumber
                    formControlName="headDocumentNumber"
                    placeholder="{{ 'enterChildIDPlaceholder' | translate }}"
                    class="h-10 block w-full rounded-md border-0 py-1.5 text-gray-600 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
                    [class]="
                      (formControls['headDocumentNumber'].touched || formControls['headDocumentNumber'].dirty) &&
                      formControls['headDocumentNumber'].errors
                        ? 'form-control invalid-feedback'
                        : 'form-control'
                    "
                  />
                  <ng-container *ngIf="hasFetched">
                    <span class="absolute inset-y-0 flex items-center right-3">
                      <app-spinner size="5"></app-spinner>
                    </span>
                  </ng-container>
                  <app-error-message [control]="formControls['headDocumentNumber']" [fieldName]="'Child ID'">
                  </app-error-message>
                </div>
              </div>
              <div class="w-full" *ngIf="selectedDocType === docTypes[2].value">
                <label for="nin" class="block text-sm font-medium leading-6 text-gray-600">{{
                  'NIN' | translate
                }}</label>
                <div class="relative mt-0">
                  <input
                    type="text"
                    required
                    appAllowNumber
                    maxlength="12"
                    minlength="12"
                    formControlName="headDocumentNumber"
                    placeholder="{{ 'enterNINPlaceholder' | translate }}"
                    class="h-10 block w-full rounded-md border-0 py-1.5 text-gray-600 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
                    [class]="
                      (formControls['headDocumentNumber'].touched || formControls['headDocumentNumber'].dirty) &&
                      formControls['headDocumentNumber'].errors
                        ? 'form-control invalid-feedback'
                        : 'form-control'
                    "
                  />
                  <ng-container *ngIf="hasFetched">
                    <span class="absolute inset-y-0 flex items-center right-3">
                      <app-spinner size="5"></app-spinner>
                    </span>
                  </ng-container>
                  <app-error-message [control]="formControls['headDocumentNumber']" [fieldName]="'NIN'">
                  </app-error-message>
                </div>
              </div>
            </div>
            <div class="flex items-center flex-col lg:flex-row lg:justify-between space-y-3 md:space-y-0 md:space-x-4">
              <div class="w-full" *ngIf="loggedInUser?.jurisdiction === EJurisdiction.CELL">
                <label for="village" class="block text-sm font-medium leading-6 text-gray-600">
                  {{'village' | translate}}
                </label>
                <ng-select
                  (change)="onVillageChange($event)"
                  placeholder="{{'selectVillagePlaceholder' | translate}}"
                  [items]="villages"
                  bindLabel="name"
                  [appendTo]="'body'"
                  bindValue="id"
                  [class]="!hasJursidictionVillage ? 'form-control invalid-feedback' : 'form-control'"
                >
                </ng-select>
              </div>
              <!-- <div class="flex flex-col w-full" *ngIf="this.loggedInUser?.jurisdiction === EJurisdiction.VILLAGE">
                <div class="text-sm leading-6">
                  <label for="comments" class="font-medium text-gray-900">{{ 'doYouHaveUPI' | translate }}?</label>
                </div>
                <div class="flex justify-between">
                  <div class="relative flex items-start">
                    <div class="flex jus items-center h-6">
                      <input
                        type="checkbox"
                        (change)="toggleHasUpi(true)"
                        [checked]="hasUPI"
                        class="w-4 h-4 text-primary border-gray-300 rounded focus:ring-primary cursor-pointer"
                      />
                    </div>
                    <div class="ml-3 text-sm leading-6">
                      <label for="comments" class="font-medium text-gray-900">{{ 'yes' | translate }}</label>
                    </div>
                  </div>
                  <div class="relative flex items-start">
                    <div class="flex jus items-center h-6">
                      <input
                        type="checkbox"
                        (change)="toggleHasUpi(false)"
                        [checked]="!hasUPI"
                        class="w-4 h-4 text-primary border-gray-300 rounded focus:ring-primary cursor-pointer"
                      />
                    </div>
                    <div class="ml-3 text-sm leading-6">
                      <label for="comments" class="font-medium text-gray-900">{{ 'no' | translate }}</label>
                    </div>
                  </div>
                </div>
              </div> -->

              <!-- <div class="w-full" *ngIf="hasUPI">
                <label for="nid" class="block text-sm font-medium leading-6 text-gray-600">UPI</label>
                <div class="relative mt-0">
                  <input
                    type="text"
                    placeholder="{{ 'enterUPIPlaceholder' | translate }}"
                    required
                    formControlName="upi"
                    class="h-10  block w-full rounded-md border-0 py-1.5 text-gray-600 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
                    [class]="
                      (formControls['upi'].touched || formControls['upi'].dirty) && formControls['upi'].errors
                        ? 'form-control invalid-feedback'
                        : 'form-control'
                    "
                  />
                  <ng-container *ngIf="upiLoading">
                    <span class="absolute inset-y-0 flex items-center right-3">
                      <app-spinner size="5"></app-spinner>
                    </span>
                  </ng-container>
                  <app-error-message [control]="formControls['upi']" fieldName="UPI"> </app-error-message>
                </div>
              </div> -->
              <!-- <div class="w-full" *ngIf="this.loggedInUser?.jurisdiction !== EJurisdiction.VILLAGE || !hasUPI"></div> -->
            </div>
            <ng-container *ngIf="locationLoading && fetchedLand">
              <div class="flex flex-col space-y-6">
                <div class="flex space-x-4">
                  <p class="leading-relaxed md:h-[34px] w-full 2xl:h-[44px] animate-pulse bg-gray-100 rounded-md"></p>
                  <p class="leading-relaxed md:h-[34px] w-full 2xl:h-[44px] animate-pulse bg-gray-100 rounded-md"></p>
                </div>
                <div class="flex space-x-4">
                  <p class="leading-relaxed md:h-[34px] w-full 2xl:h-[44px] animate-pulse bg-gray-100 rounded-md"></p>
                  <p class="leading-relaxed md:h-[34px] w-full 2xl:h-[44px] animate-pulse bg-gray-100 rounded-md"></p>
                </div>
                <div class="flex space-x-4">
                  <p class="leading-relaxed md:h-[34px] w-1/2 2xl:h-[44px] animate-pulse bg-gray-100 rounded-md"></p>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="w-full flex flex-col space-y-3 md:w-1/3" *ngIf="fetchedUser || fetchedLand">
            <app-user-details *ngIf="fetchedUser" [user]="fetchedUser" [status]="fetchedStatus"></app-user-details>
            <!-- *ngIf="fetchedLand?.upi || (this.loggedInUser?.jurisdiction === EJurisdiction.VILLAGE && !hasUPI)" -->
            <div
              *ngIf="[EJurisdiction.VILLAGE, EJurisdiction.CELL].includes(this.loggedInUser?.jurisdiction)"
              class="flex w-full mt-6 mr-16 h-44 md:mt-0"
            >
              <app-jurisdiction
                [title]="'parcelLocation'"
                [isCompact]="true"
                [locationConfig]="{ type: EJurisdiction.VILLAGE, location: fetchedLand }"
                class="w-full shadow"
              ></app-jurisdiction>
            </div>
          </div>
        </div>
        <ng-container *ngIf="![EJurisdiction.VILLAGE, EJurisdiction.CELL].includes(loggedInUser?.jurisdiction)">
          <div class="mt-1 text-red-500 text-md">
            {{ 'jurisdictionCannotCreateHousehold' | translate }}
          </div>
        </ng-container>
        <div class="flex justify-between mt-8 md:justify-end ">
          <button
            class="px-4 py-2.5 border border-gray-300 rounded-lg bg-white flex items-center justify-center font-semibold text-sm md:mr-10 w-auto h-10"
            mat-dialog-close
          >
            {{ 'cancelButton' | translate }}
          </button>
          <button
            *ngIf="[EJurisdiction.VILLAGE, EJurisdiction.CELL].includes(this.loggedInUser?.jurisdiction)"
            [disabled]="loading || ![EJurisdiction.VILLAGE, EJurisdiction.CELL].includes(this.loggedInUser?.jurisdiction) || !fetchedUser"
            class="px-4 py-2.5 w-auto text-white rounded-lg bg-primary flex items-center justify-center font-semibold  text-xs h-10"
          >
            <ng-container *ngIf="loading">
              <svg
                aria-hidden="true"
                role="status"
                class="inline w-4 h-4 mr-3 text-white animate-spin"
                viewBox="0 0 100 101"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="#E5E7EB"
                ></path>
                <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentColor"
                ></path>
              </svg>
            </ng-container>
            {{ 'goToSurveyButton' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
