<div
  class="flex flex-col w-full h-full sm:rounded-lg space-y-6'"
  [ngClass]="{
    'px-4 shadow py-4': !isPreview,
    'ring-2 ring-primary': openEditForm && targetGroupCategory,
    'ring-1 ring-black ring-opacity-5': (!isPreview && !openEditForm) || (openEditForm && !targetGroupCategory)
  }"
>
  <ng-container *ngIf="targetGroupCategory && !openEditForm">
    <div class="flex flex-col mb-2 items-center justify-between md:flex-row">
      <div class="flex w-full justify-between">
        <label for="first-name" class="flex gap-4 text-base font-medium leading-6 text-gray-600"
          ><span *ngIf="targetGroupCategory?.name?.length > elpsisNo" [matTooltip]="targetGroupCategory?.name"
            >{{ targetGroupCategory?.name | ellipsis | titlecase }}
          </span>

          <span *ngIf="targetGroupCategory?.name?.length <= elpsisNo">{{ targetGroupCategory?.name | titlecase }}</span>

          <ng-container *ngIf="!targetGroupCategory.matchAllMembers">
            <span>{{ '-' }}</span>
            <span>
              {{ 'membersText' | translate }}
              {{ targetGroupCategory?.operation | removeUnderscore | titlecase }}
              {{ targetGroupCategory.numberOfMembers }}</span
            >
          </ng-container>
        </label>
        <div class="flex items-center justify-center space-x-4" *ngIf="showStatus">
          <ng-container *ngIf="targetGroupCategory.status === EState.ACTIVE">
            <div class="inline-flex justify-center items-center bg-green-100 py-0.5 px-2 rounded-2xl">
              <span class="w-1.5 h-1.5 bg-green-600 rounded-full mr-1.5"></span>
              <span class="text-xs font-medium text-green-600">{{ 'statusActive' | translate }}</span>
            </div>
          </ng-container>
          <ng-container *ngIf="targetGroupCategory.status === EState.DELETED">
            <div class="inline-flex justify-center items-center bg-red-100 py-0.5 px-2 rounded-2xl">
              <span class="w-1.5 h-1.5 bg-red-600 rounded-full mr-1.5"></span>
              <span class="text-xs font-medium text-red-600">{{ 'statusDeleted' | translate }}</span>
            </div>
          </ng-container>
          <ng-container *ngIf="targetGroupCategory.status === EState.INACTIVE">
            <div class="inline-flex justify-center items-center bg-yellow-100 py-0.5 px-2 rounded-2xl">
              <span class="w-1.5 h-1.5 bg-yellow-600 rounded-full mr-1.5"></span>
              <span class="text-xs font-medium text-yellow-600">{{ 'statusInactive' | translate }}</span>
            </div>
          </ng-container>
          <ng-container *ngIf="!hideActionButtons">
            <ng-container *ngIf="targetGroupCategory.status === EState.ACTIVE">
              <a class="cursor-pointer" (click)="$event.stopPropagation(); onEnableDisable('disable')">
                <i-feather class="w-6 h-6 mr-2" name="slash"></i-feather>
              </a>
            </ng-container>

            <ng-container *ngIf="targetGroupCategory.status === EState.INACTIVE">
              <a class="cursor-pointer" (click)="$event.stopPropagation(); onEnableDisable('enable')">
                <i-feather class="w-6 h-6 mr-2" name="check-circle"></i-feather>
              </a>
            </ng-container>
          </ng-container>
          <div
            class="relative z-50"
            aria-labelledby="modal-title"
            role="dialog"
            aria-modal="true"
            *ngIf="confirmAction !== ''"
          >
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
            <div class="fixed inset-0 z-10 overflow-y-auto">
              <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                <div
                  class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-md sm:p-6 space-y-10"
                >
                  <div>
                    <div class="absolute top-0 right-0 pt-4 pr-4 sm:block">
                      <button
                        type="button"
                        class="text-gray-400 bg-white rounded-md hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2"
                        (click)="close()"
                      >
                        <span class="sr-only">Close</span>
                        <svg
                          class="w-6 h-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          aria-hidden="true"
                        >
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="text-gray-600 text-lg" *ngIf="confirmAction === 'enable'">
                    {{ 'confirmTargetGroupEnable' | translate }}?
                  </div>
                  <div class="text-gray-600 text-lg" *ngIf="confirmAction === 'disable'">
                    {{ 'confirmTargetGroupDisable' | translate }}?
                  </div>
                  <div class="flex justify-end space-x-6">
                    <button
                      class="px-4 py-2.5 rounded-lg bg-white text-gray-600 border border-gray-300 flex items-center justify-center font-semibold text-sm h-10"
                      (click)="close()"
                    >
                      {{ 'cancelButton' | translate }}
                    </button>
                    <button
                      [disabled]="actionLoading"
                      class="px-4 w-auto py-2.5 rounded-lg bg-primary text-white flex items-center justify-center font-semibold text-sm h-10"
                      (click)="triggerAction(targetGroupCategory)"
                    >
                      <ng-container *ngIf="actionLoading">
                        <svg
                          aria-hidden="true"
                          role="status"
                          class="inline w-4 h-4 mr-3 text-white animate-spin"
                          viewBox="0 0 100 101"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                            fill="#E5E7EB"
                          ></path>
                          <path
                            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                            fill="currentColor"
                          ></path>
                        </svg>
                      </ng-container>

                      {{
                        confirmAction === 'disable'
                          ? actionLoading
                            ? ('disabling' | translate)
                            : ('disable' | translate)
                          : actionLoading
                          ? ('enabling' | translate)
                          : ('enable' | translate)
                      }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center space-x-4" *ngIf="editable">
        <i-feather
          *ngIf="!hideRemoveButton"
          class="h-4 w-4 cursor-pointer"
          (click)="removeTargetGroupCategory()"
          name="trash-2"
        ></i-feather>
        <div class="flex items-center">
          <button
            type="button"
            class="relative inline-flex flex-shrink-0 h-6 transition-colors duration-200 ease-in-out bg-gray-200 border-2 border-transparent rounded-full cursor-pointer w-11 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2"
            [ngClass]="{ 'bg-primary': openEditForm }"
            role="switch"
            aria-checked="false"
            (click)="onActionEvent('edit-target-group-category', targetGroupCategory)"
          >
            <span
              aria-hidden="true"
              class="inline-block w-5 h-5 transition duration-200 ease-in-out transform translate-x-0 bg-white rounded-full shadow pointer-events-none ring-0"
              [ngClass]="{ 'translate-x-5': openEditForm }"
            ></span>
          </button>
          <span class="ml-3 text-sm text-gray-600"> {{ 'editMode' | translate }} </span>
        </div>
      </div>
    </div>
    <div class="flex">
      <mat-chip class="!bg-gray-200 !border-gray-200">
        <div class="flex space-x-2">
          <span class="font-medium text-gray-600"
            >{{ 'matchAllMembers' | translate }}: {{ targetGroupCategory.matchAllMembers ? 'yes' : 'no' | translate}}</span
          >
        </div>
      </mat-chip>
    </div>
  </ng-container>

  <ng-container *ngIf="openEditForm">
    <app-create-target-group-category
      [hideCancel]="hideCanceButton"
      [targetGroupCategory]="targetGroupCategory"
      (targetGroupCategoryUpdateEvent)="onActionEvent('update-target-group-category', $event)"
      (targetGroupCategoryEvent)="onActionEvent('add-target-group-category', $event)"
      (cancelEvent)="onCancelEvent()"
    ></app-create-target-group-category>
  </ng-container>
</div>
