<div
  class="w-full h-auto cursor-pointer"
  (click)="onSelected(q)"
  *ngIf="q"
  [routerLink]="'/admin/questionnaires/qs/' + q.id"
>
  <div class="flex w-full flex-col space-y-4 border-2 p-5 text-gray-500 space-x-3 sm:rounded-lg bg-white">
    <div class="flex">
      <div class="flex mr-2">
        <div class="h-12 w-12 flex justify-center items-center bg-sky-50 rounded-full">
          <div class="h-8 w-8 flex justify-center items-center bg-sky-100 rounded-full">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 text-primary"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full">
        <div class="flex w-full justify-between">
          <div class="flex flex-col text-gray-500">
            <span class="font-medium">{{ q.description }}</span>
            <span>{{ q.createdAt | date }}</span>
          </div>
          <div class="flex space-x-3" *ngIf="editable">
            <i-feather
              [matTooltip]="'updateQuestionnaire' | translate"
              appAccessControl
              [permissions]="[EPermission.UPDATE_QUESTIONNAIRE]"
              (click)="onActionEvent(EAction.EDIT, q)"
              name="edit"
              class="w-4 h-4 pointer-cursor"
            ></i-feather>
            <a
              [matTooltip]="'archive' | translate"
              appAccessControl
              [permissions]="[EPermission.DELETE_QUESTIONNAIRE]"
              *ngIf="q.status === EState.ACTIVE || q.status === EState.INACTIVE"
              class="pointer-cursor"
              (click)="$event.stopPropagation(); onActionEvent(EAction.ARCHIVE, q)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="w-6 h-6 mr-2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                />
              </svg>
            </a>
            <a
              [matTooltip]="'activate' | translate"
              appAccessControl
              [permissions]="[EPermission.ENABLE_QUESTIONNAIRE]"
              *ngIf="q.status === EState.INACTIVE || q.status === EState.ARCHIVED"
              class="pointer-cursor"
              (click)="$event.stopPropagation(); onActionEvent(EAction.ENABLE, q)"
            >
              <i-feather class="w-6 h-6 mr-2" name="check-circle"></i-feather>
            </a>
          </div>
        </div>
        <div class="flex justify-start my-2">
          <ng-container *ngIf="q.respondentType === EInterviewee.HOUSEHOLD">
            <div class="inline-flex justify-center items-center bg-sky-100 py-0.5 px-2 rounded-2xl">
              <span class="w-1.5 h-1.5 bg-primary rounded-full mr-1.5"></span>
              <span class="text-xs font-medium text-primary">{{ 'household' | translate }}</span>
            </div>
          </ng-container>
          <ng-container *ngIf="q.respondentType === EInterviewee.PERSON">
            <div class="inline-flex justify-center items-center bg-blue-100 py-0.5 px-2 rounded-2xl">
              <span class="w-1.5 h-1.5 bg-primary rounded-full mr-1.5"></span>
              <span class="text-xs font-medium text-primary">{{ 'member' | translate }}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="flex w-full">
      <div class="flex flex-col text-gray-500 w-full">
        <span class="text-xs">{{ 'surveyName' | translate }}: {{ q.survey?.name }}</span>
        <span class="text-xs"> {{ 'pages' | translate }}: {{ getTQs(q).pages }}</span>
        <div class="flex w-full justify-between items-center">
          <span class="text-xs">{{ 'questions' | translate }}: {{ getTQs(q).questions }} </span>
          <div class="flex">
            <app-status [status]="q.status"></app-status>
          </div>
          <button
            *ngIf="showTriggerScoreOnActive"
            class="flex w-auto gap-4 px-4 py-2.5 text-white rounded-lg bg-primary items-center justify-center font-semibold text-sm h-10"
            (click)="$event.stopPropagation(); onActionEvent('trigger-score', q)"
          >
            <ng-container *ngIf="isTriggering">
              <svg
                aria-hidden="true"
                role="status"
                class="inline w-4 h-4 mr-3 text-white animate-spin"
                viewBox="0 0 100 101"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="#E5E7EB"
                ></path>
                <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentColor"
                ></path>
              </svg>
            </ng-container>

            <i-feather *ngIf="!isTriggering" class="w-3" name="refresh-cw"></i-feather>
            {{ 'triggerScoring' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
