<ng-container *ngIf="pager.pages && pager.pages.length">
  <nav class="flex items-center justify-between px-6 border-gray-200 py-7">
    <div class="flex flex-1 w-0 -mt-px">
      <a
        (click)="setPage(currentPage - 1)"
        class="inline-flex items-center border border-gray-300 rounded-lg py-2 px-3.5 text-sm font-semibold text-gray-500 hover:border-gray-300 hover:text-gray-700"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5 mr-3 text-gray-400"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
        </svg>
        {{'previous' | translate}}
      </a>
    </div>
    <div class="hidden md:-mt-px md:flex">
      <a
        (click)="setPage(page)"
        *ngFor="let page of pager.pages"
        [ngClass]="{ 'py-2 bg-gray-100 rounded-lg': currentPage === page }"
        class="inline-flex items-center px-4 text-sm font-medium text-gray-500 border-transparent hover:rounded-lg hover:bg-gray-100 hover:text-gray-700"
        >{{ page }}</a
      >
    </div>
    <div class="flex justify-end flex-1 w-0 -mt-px">
      <a
        (click)="setPage(currentPage + 1)"
        class="inline-flex items-center border border-gray-300 rounded-lg py-2 px-3.5 text-sm font-semibold text-gray-500 hover:border-gray-300 hover:text-gray-700"
      >
      {{'next' | translate}}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5 ml-3 text-gray-400"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
        </svg>
      </a>
    </div>
  </nav>
</ng-container>
